version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: anti_spam_bot_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U anti_spam_user -d anti_spam_bot" ]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    image: volcano350z/antispam-tg-bot:${IMAGE_TAG}
    container_name: anti_spam_bot_app
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_SSLMODE: disable
    volumes:
      - /root/antispam.env:/app/.env
    restart: unless-stopped

volumes:
  postgres_data:
